streamlit>=1.37.0
pandas>=2.2.0
python-dotenv>=1.0.1
faiss-cpu>=1.8.0
langchain>=0.2.10
langchain-community>=0.2.10
langchain-core>=0.2.10
langchain-groq>=0.1.4
langchain-openai>=0.1.9
openai>=1.35.0
tiktoken>=0.7.0
requests>=2.32.3
Pillow>=10.3.0
gTTS>=2.5.1
SpeechRecognition>=3.10.0
pyaudio>=0.2.14
